h1{
	margin: auto;
	color: red;
	margin-left: 400px;
	font-size: 45px;
}


button, select {
    text-transform: none;
    width: 200px;
    margin-right: 30px;
}

body{
	background : #FFE4B5;
}

.form-control{
	width: 1000px;
}
img{
	margin: auto;
	width: 200px;
	height: 200px;
	align-self: center;
}

.ppt{
	text-align: center;
}