/* Customize Login Screen */
body.login .button-primary {
  background-color: #f84f30;
  border-color: color(#f84f30 b(+10%));
  text-shadow: 0 -1px 1px color(#f84f30 b(+15%)),1px 0 1px color(#f84f30 b(+15%)),0 1px 1px color(#f84f30 b(+15%)),-1px 0 1px color(#f84f30 b(+15%));
  box-shadow: 0 1px 0 color(#f84f30 b(+20%));
}

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: color(#f84f30 b(+7%));
  border-color: color(#f84f30 b(+15%));
  text-shadow: 0 -1px 1px color(#f84f30 b(+20%)),1px 0 1px color(#f84f30 b(+20%)),0 1px 1px color(#f84f30 b(+20%)),-1px 0 1px color(#f84f30 b(+20%));
  box-shadow: 0 1px 0 color(#f84f30 b(+25%));
}

body.login {
  background-color: #faedc1;
}

.login h1 a {
  color:#012e29;
  font-size: 30px;
  font-weight: 500;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;
}